backend/Python_API/xml-rng/schema.rng

<element name="ArrayOfBodyMeasurement" xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <zeroOrMore>
        <element name="BodyMeasurement">
            <element name="bia_di">
                <data type="double" />
            </element>
            <element name="bii_di">
                <data type="double" />
            </element>
            <element name="bit_di">
                <data type="double" />
            </element>
            <element name="che_de">
                <data type="double" />
            </element>
            <element name="che_di">
                <data type="double" />
            </element>
            <element name="elb_di">
                <data type="double" />
            </element>
            <element name="wri_di">
                <data type="double" />
            </element>
            <element name="kne_di">
                <data type="double" />
            </element>
            <element name="ank_di">
                <data type="double" />
            </element>
            <element name="sho_gi">
                <data type="double" />
            </element>
            <element name="che_gi">
                <data type="double" />
            </element>
            <element name="wai_gi">
                <data type="double" />
            </element>
            <element name="nav_gi">
                <data type="double" />
            </element>
            <element name="hip_gi">
                <data type="double" />
            </element>
            <element name="thi_gi">
                <data type="double" />
            </element>
            <element name="bic_gi">
                <data type="double" />
            </element>
            <element name="for_gi">
                <data type="double" />
            </element>
            <element name="kne_gi">
                <data type="double" />
            </element>
            <element name="cal_gi">
                <data type="double" />
            </element>
            <element name="ank_gi">
                <data type="double" />
            </element>
            <element name="wri_gi">
                <data type="double" />
            </element>
            <element name="age">
                <data type="integer" />
            </element>
            <element name="wgt">
                <data type="double" />
            </element>
            <element name="hgt">
                <data type="double" />
            </element>
            <element name="sex">
                <data type="boolean" />
            </element>
        </element>
    </zeroOrMore>
</element>
